<p id="notice"><%= notice %></p>

<h2><%= link_to 'Add new article', new_article_path %></h2>
<div class="container-fluid">
  <div class="row">
    <%= render @articles %> <!-- shorthand -->
  </div>
</div>
<br>


